<div class="table-responsive">
    2pts-Won<br>
    1pts-Last man<br>
    -3pts-Suicide<br>
        <table class="table table-striped table-bordered table-hover myTable">
            <thead>
            <tr> <th width="5%">Nr</th>
                <th>Fighter</th>

                <th width="15%">Fights</th>
                <th width="8%">Won</th>
                <th width="15%">Last man</th>
                <th width="8%">Down</th>
                <th width="8%">Suicides</th>
                <th width="8%">Ratio</th>
                <th width="5%">Points</th>
                <th width="5%">Last Update</th>

                {% if auth.admin %}
                <th width="5%">Update</th>
                {% endif %}


            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(0) ) + 1 %}
                <td>{{ counter }}</td>

                <td><a href="{{ path_for('get.profile.page',{ userId : user.id}) }}">{{ user.name }}</a></td>

                <td>{{ user.bohurt.sum('fights') }}</td>
                <td>{{ user.bohurt.sum('won') }}</td>
                <td>{{ user.bohurt.sum('last') }}</td>
                <td>{{ user.bohurt.sum('down') }}</td>
                <td>{{ user.bohurt.sum('suicide') }}</td>
                {% if user.bohurt.sum('fights') %}
                <td>{{ ((((user.bohurt.sum('down') + user.bohurt.sum('suicide'))/user.bohurt.sum('fights')) * 100)-100) | abs | number_format}} %</td>
                    {% else %}
                    <td></td>
                {% endif %}

                <td>{{ user.bohurt.sum('points') }}</td>
                <td>{{ user.bohurt.last().updated_at |date("m/d/Y") }}</td>

                {% if auth.admin %}

                    <td><button class="btn btn-xs btn-default" data-toggle="modal" data-target="#recordBohurt" data-id="{{ user.id }}"  ><span class="glyphicon glyphicon-pencil"></span></button></td>

                    {% include 'recordUpdates/recordBohurt.twig' %}

                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>    <!-- /.table-responsive -->
