<div class="table-responsive">
    1pts-Won<br>
        <table class="table table-striped table-bordered table-hover myTable">
            <thead>
            <tr> <th width="5%">Nr</th>
                <th>Fighter</th>

                <th width="8%">Fights</th>
                <th width="8%">Won</th>
                <th width="8%">Lost</th>
                <th width="5%">Points</th>

                {% if auth.admin %}
                <th width="5%">Update</th>
                {% endif %}


            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(0) ) + 1 %}
                <td>{{ counter }}</td>

                <td><a href="{{ path_for('get.profile.page',{ userId : user.id}) }}">{{ user.name }}</a></td>

                <td>{{ user.longsword.win + user.longsword.loss }}</td>
                <td>{{ user.longsword.win }}</td>
                <td>{{ user.longsword.loss }}</td>

                <td>{{ user.longsword.points }}</td>

                {% if auth.admin %}

                    <td><button class="btn btn-xs btn-default" data-toggle="modal" data-target="#recordLongsword" data-id="{{ user.id }}"  ><span class="glyphicon glyphicon-pencil"></span></button></td>

                    {% include 'recordUpdates/recordLongsword.twig' %}

                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>    <!-- /.table-responsive -->
