<div class="table-responsive">
    4pts-KO<br>
    3pts-Won by points<br>
    1pts-Loss<br>
    10pts-Won FC<br>
    6pts-Second place FC<br>
    3pts-Third place FC<br>
        <table class="table table-striped table-bordered table-hover myTable">
            <thead>
            <tr> <th width="5%">Nr</th>
                <th>Fighter</th>

                <th width="8%">Fights</th>
                <th width="8%">Won</th>
                <th width="8%">Ko</th>
                <th width="8%">Lost</th>
                <th width="8%">FC 1st</th>
                <th width="8%">FC 2nd</th>
                <th width="8%">FC 3rd</th>
                <th width="5%">Points</th>
                <th width="5%">Last Update</th>

                {% if auth.admin %}
                <th width="5%">Update</th>
                {% endif %}


            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                {% set counter = ( counter | default(0) ) + 1 %}
                <td>{{ counter }}</td>

                <td><a href="{{ path_for('get.profile.page',{ userId : user.id}) }}">{{ user.name }}</a></td>

                <td>{{ user.profight.sum('win') + user.profight.sum('loss') + user.profight.sum('ko') }}</td>
                <td>{{ user.profight.sum('win') }}</td>
                <td>{{ user.profight.sum('ko') }}</td>
                <td>{{ user.profight.sum('loss') }}</td>
                <td>{{ user.profight.sum('fc_1') }}</td>
                <td>{{ user.profight.sum('fc_2')}}</td>
                <td>{{ user.profight.sum('fc_3') }}</td>
                <td>{{ user.profight.sum('points') }}</td>
                 <td>{{ user.profight.last().updated_at |date("m/d/Y") }}</td>

                {% if auth.admin %}

                    <td><button class="btn btn-xs btn-default" data-toggle="modal" data-target="#recordProfight" data-id="{{ user.id }}"  ><span class="glyphicon glyphicon-pencil"></span></button></td>

                    {% include 'recordUpdates/recordProfight.twig' %}

                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>    <!-- /.table-responsive -->
