{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Password recovery</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('auth.password.forgot') }}" method="post">
                        <fieldset>
                            <div class="form-group {{ errors.username ? 'has-error': '' }} ">
                                <input class="form-control" placeholder="Username" name="username" type="text" value="">
                                {% if errors.username %}
                                    <span class="help-block">
                                        {% if errors.username %}
                                            <span class="badge"><i class="fa fa-exclamation" ></i></span>
                                        {% endif %}
                                    {{ errors.username | first }}
                                </span>
                                {% endif %}
                            </div>

                            <button type="submit" class="btn btn-lg btn-custom btn-block">Send</button><button class="btn btn-lg btn-custom btn-block pull-right divMsg" style="display:none;"><img src="{{ base_url() }}/img/1351237.gif" height="25px" > Please wait... </button>
                            {{ csrf.field | raw }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}