{% extends 'templates/app.twig' %}

{% block content %}

  {% include 'user/photo.twig' %}

  {% include 'user/coa.twig' %}

  {% include 'user/addAchievement.twig' %}

<div class="col-md-3">
    {%  if not user.image and user.id == auth.user.id %}
    <a href="#" class="btn btn-custom" data-toggle="modal" data-target="#photo" >Upload photo</a>
        {%  elseif not user.image and user.id != auth.user.id %}
        <img src="{{ base_url() }}/img/profile_placeholder.png" class="img-responsive profile-photo center-block">
            {% elseif user.image and user.id != auth.user.id %}
        <img src="{{ base_url() }}{{ user.image }}" class="img-responsive profile-photo center-block">
        {% else %}
    <a href="#" data-toggle="modal" data-target="#photo" ><img src="{{ base_url() }}{{ user.image }}" class="img-responsive profile-photo center-block"></a>
                {% endif %}
</div>
    <div class="col-md-6">
        <h2 class="text-center ">Mercenary profile</h2>
        <hr>
        <div class="well">
        <div class="row">
            <div class="col-md-6">
                <h3 class="text-center">Personal </h3>
                Age:{{ user.age }}<br>
                Weight:{{ user.weight }} kg<br>
                Total points:{{ user.total_points }}<br>
                {% if user.coa %}
                    <h4 class="text-center">Coat of arms</h4>
                    {%  if user.id == auth.user.id %}
                        <a href="#" data-toggle="modal" data-target="#coa">  <img src="{{ base_url() }}{{ user.coa }}" class="coa-photo-profile center-block"></a>
                        {% elseif user.id != auth.user.id %}
                            <img src="{{ base_url() }}{{ user.coa }}" class="coa-photo-profile center-block">
                        {% endif %}
                {% endif %}
                {% if user.quote %}
                    <h4 class="text-center">Favourite quote</h4>
                    {{ user.quote }}
                {% endif %}

            </div>
            <div class="col-md-6">
                <h3 class="text-center">Fighting Exp </h3>
                Total fights:{{ user.bohurt.fights +  user.sword.win + user.sword.loss + user.longsword.win + user.longsword.loss + user.polearm.win + user.polearm.loss + user.triathlon.win + user.triathlon.loss + user.profight.win + user.profight.loss + user.profight.ko}}<br>
                Bohurt fights:{{ user.bohurt.fights }}<br>
                Sword and shield fights:{{ user.sword.win + user.sword.loss }}<br>
                Longsword fights:{{ user.longsword.win + user.longsword.loss  }}<br>
                Polearm fights:{{ user.polearm.win + user.polearm.loss  }}<br>
                Triathlon fights:{{ user.triathlon.win + user.triathlon.loss  }}<br>
                Profights:{{ user.profight.win + user.profight.loss + user.profight.ko }}<br>
            </div>
        </div>
       {% if user.about %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">About </h3>
                    {{ user.about }}
                </div>
        </div>
       {% endif %}
    </div>
    </div>
    <div class="col-md-3 ">
        <h2 class="text-center ">Achievements</h2>

        <hr>

        {% if user.id == auth.user.id %}
        <a href="#" class="btn btn-custom btn-sm center-block" data-toggle="modal" data-target="#addAchievement">Add achievement</a>
            {% endif %}

        <ul class="fa-ul ">
        {% for achievement in user.achievement %}

            <li class="pull-left achievement" > <i class="{{ achievement.place }}"></i>{{ achievement.date | date("m/Y")}} {{ achievement.competition_name }} {{ achievement.location }} {{ achievement.category }}
            {% if user.id == auth.user.id %}
                <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#updateAchievement{{ achievement.id }}"  ><span class="glyphicon glyphicon-pencil"></span></button>
                <a href="{{ path_for('delete.achievement',{achievementId : achievement.id}) }}" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                {% include 'user/updateAchievement.twig' %}
            {% endif %}
            </li>


            {% endfor %}
        </ul>

    </div>
{% endblock %}